@import 'https://fonts.googleapis.com/css?family=Oswald';
/*Constants and variables*/
  body{
    background-color:#405da9;
    margin:0;
  }
/*Mobile first | max-width: 320px*/
@media all and (min-width:1px){
  .main_container{
    width:90%;
    max-width:640px;
    background-color:white;
    margin:5% auto 0 auto;
    border-radius:10px;
  }
  .main_container .main_header .main_logo{
    max-width:200px;
    display:block;
    margin:0 auto 0 auto;
    padding-top:5px;
  }
  .main_form{
    width:90%;
    display:block;
    margin:10px auto 0 auto;
    font-family:'Oswald';
    padding-bottom:5px;
  }
  .main_form input[type="text"], .main_form input[type="password"]{
    background-color: rgba(0,0,0,0) !important;
    border: 0px;
    outline: none;
    padding-left:20px;
    font-family:'Oswald';
    font-weight:300;
    width:200px;
    color:#405da9;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset;
    color:#405da9;
  }
  .main_form label i{
    font-size:20px;
    color:#405da9;
    width:20px;
  }
  .main_form input[type="submit"]{
    display:block;
    margin:5px auto 0 auto;
    color:#405da9;
    background-color:white;
    width:60px;
    height:25px;
    line-height:25px;
    text-align:center;
    border:1px solid #405da9;
    border-radius:5px;
    text-transform:uppercase;
    font-family:'Oswald';
  }
  .main_form hr{
    display:block;
    border:0;
    height:1px;
    width:90%;
    margin:5px auto 5px auto;
    background-color:#405da9;
  }

  /*Style dashboard*/
  .dashboard_container{
    width:100%;
  }
  .dashboard_header .main_logo{
    display:block;
    margin:10px auto 0 auto;
    max-width:200px;
  }
  .dashboard_container .dashboard_datepicker_form{
    margin:10px auto 0 auto;
    width:100%;
  }
  .dashboard_container .dashboard_datepicker_form input[type="text"]{
    width:90%;
    display:block;
    margin:auto;
    max-width:480px;
    font-family:'Oswald';
    text-align:center;
    outline:none;
    color:#405da9;
  }
  .dashboard_container .dashboard_datepicker_form input[type="submit"]{
    display:block;
    margin:10px auto 0 auto;
    border-radius:5px;
    padding:7px;
    font-family:'Oswald';
    text-transform:uppercase;
    color:#405da9;
  }
  .dashboard_container .form_deco{
    position:fixed;
    z-index:999;
    bottom:10px;
    left:10px;
  }
  .dashboard_container .form_deco input[type="submit"]{
    font-family:'Oswald';
    background-color:white;
    border:0;
    border-radius:5px;
    color:#405da9;
    padding:5px;
  }
  .dashboard_container .my_hr_is_rich{
    border:0;
    height:1px;
    background-color:white;
    width:90%;
    max-width:480px;
    margin:15px auto 15px auto;
    display:block;
  }
  .dashboard_container .title_modemail{
    color:white;
    font-family:'Oswald';
    text-align:center;
    text-transform:uppercase;
    font-weight:300;
  }
  .dashboard_container #toggle_list, .dashboard_container #toggle_rdy{
    display:block;
    margin:10px auto 0 auto;
    border-radius:5px;
    padding:7px;
    font-family:'Oswald';
    text-transform:uppercase;
    color:#405da9;
    outline:none;
  }
  .dashboard_container .the_table_email{
    word-break:break-all;
    border-collapse:collapse;
    width:90%;
    max-width:480px;
    display:block;
    margin:10px auto 10px auto;
    font-family:'Oswald';
    color:white;
  }
  .dashboard_container .the_table_email tr th:first-child{
    width:15%;
    border:1px solid white;
  }
  .dashboard_container .the_table_email tr th:last-child{
    width:85%;
    border:1px solid white;
  }
  .dashboard_container .the_table_email tr td{
    border:1px solid white;
    text-align:center;
    font-weight:300;
  }
  .dashboard_container #email_rdy{
    font-family:'Oswald';
    width:90%;
    max-width:480px;
    color:white;
    font-weight:300;
    word-break:break-all;
    margin:10px auto 10px auto;
  }
  .main_confirmation{
    position:fixed;
    top:0;
    width:100%;
    height:20px;
    text-align:center;
    z-index:999;
    background-color:#084ab1;
    color:white;
    font-family:'Oswald';
    padding:5px;
  }
  .main_close{
    position:absolute;
    right:15px;
    top:25%;
    font-size:20px;
    border:1px solid white;
    border-radius:50%;
    width:10px;height:10px;
    background-color:#c0c0c0;
    cursor:pointer;
  }
}
